doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../srcs/bootstrap-5.0.2-dist/bootstrapCss/bootstrap.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
    title Update Farmer
body
    h5 You are view #{farmerOne.name}'s Information
    .container.mt-5
        form(action=`/updateFarmerOne/${farmerOne._id}` method='post')
            .row
                .col-md-4.mb-3
                    label.form-label(for='name') FO Name:
                    input#fo_name.form-control(type='text' name='name' value=`${farmerOne.name}`)
                .col-md-4.mb-3
                    label.form-label(for='ward') FO Ward:
                    input#fo_ward.form-control(type='text' name='ward' value=`${farmerOne.ward}`)
                .col-md-4.mb-3
                    label.form-label(for='staus_in_ward') FO Status in ward:
                    select#fo_ward_staus.form-select(name='status')
                        option(selected='') Select a status
                        option(value='appointed' selected=farmerOne.status==='appointed') Appointed  
                        option(value='removed' selected=farmerOne.status==='removed') Removed   
                        option(value='not appointed' selected=farmerOne.status==='not appointed') Never Appointed
                //- .col-md-6 
                //-     label.form-label.d-block.mb-3 Activities:
                //-     .form-check.d-inline-block
                //-         input#approve_produces.form-check-input(type='checkbox' name='approveProduces')
                //-         label.form-check-label(for='approve_produces')  Approve Produces
                //-     .form-check.d-inline-block.ms-4 
                //-         input#foresee_bookings.form-check-input(type='checkbox' name='foreseeBookings')
                //-         label.form-check-label(for='foresee_bookings')  Foresee bookings
                //-     .form-check.d-inline-block.ms-4
                //-         input#register_urban_farmers.form-check-input(type='checkbox' name='registerUrbanFarmers')
                //-         label.form-check-label(for='register_urban_farmers') Register Urban Farmers
                .col-md-4.mb-3
                    label.form-label(for='nin') NIN
                    input#nin.form-control(type='text' name='nin' value=`${farmerOne.nin}`)
                .col-md-2.mb-3
                    label.form-label(for='phone') Phone
                    input#phone.form-control(type='text' name='phone' value=`${farmerOne.phone}`)
                .col-md-3.mb-3
                    label.form-label(for='fo_residence_type') Residence Type:
                    select#fo_residence_type.form-select(name="residence")
                        option(selected='') Select a residence type
                        option(value='permanent' selected=farmerOne.residence==='permanent') Permanent
                        option(value='temporary' selected=farmerOne.residence==='temporary') Temporary
                .col-md-3.mb-3
                    label.form-label(for='period_of_stay') Period of Stay in Residence:
                    input#period_of_stay.form-control(type='text' name='periodOfStay' placeholder='10' value=`${farmerOne.periodOfStay}`)
                .col-md-2.mb-3 
                    label.form-label(for='id_to_login') ID to login
                    input#id_to_login.form-control(type='text' name='idToLogin')
            button.form_btn.mt-5(type='submit') Register FO
