doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../srcs/bootstrap-5.0.2-dist/bootstrapCss/bootstrap.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
    title Agricultural Officier Dashboard
body
    .farmers-header 
        .banner_menu 
            nav.navbar.navbar-expand-lg.navbar-light.bg-light 
                .container-fluid 
                    a.navbar-brand(href="#") Navbar 
                    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse#navbarNavAltMarkup
                        .navbar-nav 
                            a.nav-link.active(href="#" aria-current="page") Home
                            a.nav-link(href="#") Home
                            a.nav-link(href="#") Features
                            a.nav-link(href="#") Pricing
                            a.nav-link(href="#") Pricing
        img(src="img/ourfarmers.jpg" alt="")
        .farmers-head 
            h3.text-center Agricultural Officer Dashboard 
            p ~ Just some text ~
    .farmers-main 
        .dashboard-tabs 
            ul.nav.nav-tabs#myTab(role="tablist")
                li.nav-item(role="presentation")
                    button.nav-link.active#home-tab(data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true") Appointed FO Wards
                li.nav-item(role="presentation")
                    button.nav-link#profile-tab(data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false") FO Records
                li.nav-item(role='presentation')
                    button#contact-tab.nav-link(data-bs-toggle='tab' data-bs-target='#contact' type='button' role='tab' aria-controls='contact' aria-selected='false') FO Registration
            #myTabContent.tab-content
                #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
                    .container.mt-5
                        .row
                            each registeredFarmerOne in registeredFarmerOnes
                                if registeredFarmerOne.status == "appointed"  
                                    .col-md-6.mt-3
                                        p(style='text-align: left;')
                                            strong F.O Name:
                                            i  #{registeredFarmerOne.name}
                                        p(style='text-align: left;')
                                            strong F.O Ward:
                                            i  #{registeredFarmerOne.ward}
                                        p(style='text-align: left;')
                                            strong F.O Residence:
                                            i  #{registeredFarmerOne.residence}
                                        p(style='text-align: left;')
                                            strong F.O Status:
                                            i  #{registeredFarmerOne.status}
                                        p(style='text-align: left;')
                                            strong Date of appointment:
                                            i  #{registeredFarmerOne.dob}
                                        p(style='text-align: left;')
                                            strong Gender:
                                            i  #{registeredFarmerOne.gender}
                #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
                    .container.mt-5
                        .row 
                            each registeredFarmerOne in registeredFarmerOnes  
                                .col-md-6.mt-3
                                    p(style='text-align: left;')
                                        strong F.O Name:
                                        i  #{registeredFarmerOne.name}
                                    p(style='text-align: left;')
                                        strong F.O Ward:
                                        i  #{registeredFarmerOne.ward}
                                    p(style='text-align: left;')
                                        strong F.O Residence:
                                        i  #{registeredFarmerOne.residence}
                                    p(style='text-align: left;')
                                        strong F.O Status:
                                        i  #{registeredFarmerOne.status}
                                    p(style='text-align: left;')
                                        strong Date of appointment:
                                        i  #{registeredFarmerOne.dob}
                                    p(style='text-align: left;')
                                        strong Gender:
                                        i  #{registeredFarmerOne._id}
                                    a(href=`/updateFarmerOne/${registeredFarmerOne._id}`) Update FO
                #contact.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
                    .container.mt-5
                        form(action='/registerFarmerOnes' method='post')
                            .row
                                .col-md-4.mb-3
                                    label.form-label(for='name') FO Name:
                                    input#fo_name.form-control(type='text' name='name')
                                .col-md-4.mb-3
                                    label.form-label(for='ward') FO Ward:
                                    input#fo_ward.form-control(type='text' name='ward')
                                .col-md-4.mb-3
                                    label.form-label(for='staus_in_ward') FO Status in ward:
                                    select#fo_ward_staus.form-select(name='status')
                                        option(selected='') Select a status
                                        option(value='appointed') Appointed  
                                        option(value='removed') Removed   
                                        option(value='Not-Appointed') Never Appointed   
                                .col-md-4.mb-3
                                    label.form-label.d-block.mb-3 Gender:
                                    .form-check.d-inline-block
                                        input#gender.form-check-input(type='radio' name='gender' value='male')
                                        label.form-check-label(for='gender')  Male
                                    .form-check.d-inline-block.ms-4 
                                        input#female.form-check-input(type='radio' name='gender' value='female')
                                        label.form-check-label(for='gender')  female
                                .col-md-4.mb-3
                                    label.form-label(for='date_of_birth') Date of Birth:
                                    input#date_of_birth.form-control(type='date' name='dob')
                                //- .col-md-6 
                                //-     label.form-label.d-block.mb-3 Activities:
                                //-     .form-check.d-inline-block
                                //-         input#approve_produces.form-check-input(type='checkbox' name='approveProduces')
                                //-         label.form-check-label(for='approve_produces')  Approve Produces
                                //-     .form-check.d-inline-block.ms-4 
                                //-         input#foresee_bookings.form-check-input(type='checkbox' name='foreseeBookings')
                                //-         label.form-check-label(for='foresee_bookings')  Foresee bookings
                                //-     .form-check.d-inline-block.ms-4
                                //-         input#register_urban_farmers.form-check-input(type='checkbox' name='registerUrbanFarmers')
                                //-         label.form-check-label(for='register_urban_farmers') Register Urban Farmers
                                .col-md-4.mb-3
                                    label.form-label(for='nin') NIN
                                    input#nin.form-control(type='text' name='nin')
                                .col-md-2.mb-3
                                    label.form-label(for='phone') Phone
                                    input#phone.form-control(type='text' name='phone')
                                .col-md-3.mb-3
                                    label.form-label(for='fo_residence_type') Residence Type:
                                    select#fo_residence_type.form-select(name="residence")
                                        option(selected='') Select a residence type
                                        option(value='permanent') Permanent
                                        option(value='temporary') Temporary
                                .col-md-3.mb-3
                                    label.form-label(for='period_of_stay') Period of Stay in Residence:
                                    input#period_of_stay.form-control(type='text' name='periodOfStay' placeholder='10')
                                .col-md-4.mb-3
                                    label.form-label(for='directions_to_fo_place') Directions to farmer One Home
                                    input#directions_to_fo_place.form-control(type='text' name='directionsToPlace')
                                .col-md-2.mb-3 
                                    label.form-label(for='id_to_login') ID to login
                                    input#id_to_login.form-control(type='text' name='idToLogin')
                            button.form_btn.mt-5(type='submit') Register FO
    #footer
        .container  
            .row 
                .col-md-4.p-3.mt-5
                    h5 Urban Farmer:
                    p From your farm to our stores and from our stores to your hand.
                    h5 Our Clients:
                    p From our stores to your household.
                    i We strive to make your meals delicious
                .col-sm-4.col-md-4.p-3.mt-5 
                    h5 Pages:
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') Shop
                        li
                            a(href='#') Our Farmers
                        li
                            a(href='#') About us
                        li
                            a(href='#') Testimonials
                .col-sm-4.col-md-4.p-3.mt-5
                    h5 Information:
                    h6 Main Office:
                    ul
                        li Wandegeya Market
                        li South Wing - shop 2001A
                    h6 Tel: 0789482852
                    h5 Opening Hours
                    ul
                        li Monday - Friday: 8am - 8pm
                        li Saturday - Sunday: 10am - 2pm
                    h5 Socials
                    .socials
                        ul
                            li
                                a(href='#') Facebook
                            li
                                a(href='#') whatsApp
                            li
                                a(href='#') Twitter
        .careof
            p.text-center &copy; 2022 Ufarm. All rights reserved
    script(src='bootstrap-5.0.2-dist/js/bootstrap.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
