nav.farmers_nav.navbar.navbar-expand-lg
    .container-fluid
        a.navbar-brand(href='#')
            img.logo-img(src='img/Ufarm_logo_2.svg' alt='')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.justify-content-end.navbar-collapse
            ul.navbar-nav.me-4
                if logged_in_user.role === 'agricultural officer'
                    li.nav-item.pe-3.pt-2(style='color: #F7E7CE')
                        h6(style='border-right: 1px solid #F7E7CE; padding-right: 8px;') Your Role: Agricultural Officer
                else if logged_in_user.role === 'farmer one'
                    li.nav-item.pe-3.pt-2(style='color: #F7E7CE')
                        h6(style='border-right: 1px solid #F7E7CE; padding-right: 8px;') Farmer One 
                else 
                    li.nav-item.pe-3.pt-2(style='color: #F7E7CE')
                        h6(style='border-right: 1px solid #F7E7CE; padding-right: 8px;') Urban Farmer
                if logged_in_user.role !== 'agricultural officer'
                    li.nav-item.pe-3.pt-2(style='color: #F7E7CE')
                        h6(style='border-right: 1px solid #F7E7CE; padding-right: 8px;') Your Ward is: #{logged_in_user.ward}
                if logged_in_user.role === 'agricultural officer'
                    li.nav-item.pe-3.pt-2(style='color: #F7E7CE')
                        h6(style='border-right: 1px solid #F7E7CE; padding-right: 8px;') Appointed Farmer Ones: #{appointed_farmers_count.length}
                else if logged_in_user.role === 'farmer one'
                    li.nav-item.pe-3.pt-2(style='color: #F7E7CE')
                        h6(style='border-right: 1px solid #F7E7CE; padding-right: 8px;') Produce To Approve: #{produce_pending_approval.length}
                else
                    li.nav-item.pe-3.pt-2(style='color: #F7E7CE')
                        h6(style='border-right: 1px solid #F7E7CE; padding-right: 8px;') Approved Produce: #{approved_produce_count.length}   
                li.nav-item
                    .dropdown.mb-2
                        button.btn.btn-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false') #{logged_in_user.fullname}
                        ul.dropdown-menu(style='background: #00693E;')
                            li.text-center.mt-3
                                form(action='/logout' method='post')
                                    button.logout-btn(type='submit') Logout
.overlay.mb-5
    block header-title
        h4.justify-content-center Welcome to Your Dashboard
    #carouselExampleSlidesOnly.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
            if produce_images.length > 0
                each produce_image, index in produce_images 
                    if index === 0
                        .carousel-item.active(data-bs-interval='5000')
                            img.d-block.w-100(src=`${produce_image.produce_image}` alt='...')
                    else 
                        .carousel-item(data-bs-interval='5000')
                            img.d-block.w-100(src=`${produce_image.produce_image}` alt='...')
            else 
                .carousel-item.active(data-bs-interval='5000')
                    img.d-block.w-100(src='img/apples.jpg' alt='...')
                .carousel-item(data-bs-interval='5000')
                    img.d-block.w-100(src='img/beetroot.jpg' alt='...')
                .carousel-item(data-bs-interval='5000')
                    img.d-block.w-100(src='img/avocado.jpg' alt='...')