extends base.pug

block title 
    title Horticulture
block page-view
    h3.text-center Horticulture Produces
block content
    .veg-main
        .veg-category-boxes.mb-5
            h6 Horticulture Produces
        .container
            .row.row-cols-1.row-cols-md-3.row-cols-lg-4.g-4
                if all_horticulture_produces
                    each horticulture_produce in all_horticulture_produces
                        if horticulture_produce.product_status === 'approved'
                            .col
                                .card.h-100
                                    img.card-img-top.card-img-top.px-2.py-2(src=`/${horticulture_produce.produce_image}` alt='...')
                                    .card-body.text-center.my-4
                                        h4.card-title #{horticulture_produce.pname}
                                        h6.quantity.my-3(style='font-weight: lighter;') medium
                                        h6.price.my-3(style='font-weight: lighter;') Ugx. #{horticulture_produce.unit_price}
                                        if logged_in_public_user
                                            button.add2cart-btn.btn(type='button' data-bs-toggle='modal' data-bs-target=`#contact-sellerModal-${horticulture_produce._id}`)
                                                | Book Order
                                            .modal.fade(tabindex='-1' id=`contact-sellerModal-${horticulture_produce._id}` aria-labelledby=`contact-sellerModal-${horticulture_produce._id}Label` aria-hidden='true')
                                                .modal-dialog.modal-lg
                                                    .modal-content
                                                        .modal-header
                                                            h5#exampleModalLabel.modal-title #{horticulture_produce.pname} / Specify your Quantity
                                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                                        .modal-body
                                                            form(action="/create_booking" method='post')
                                                                label(for='quantity') Quantity 
                                                                input(type='number' name='order_quantity')
                                                                br
                                                                label(for='public_user_contact') Contact
                                                                input(type='text' name='public_user_contact')
                                                                input(type='hidden' name='produce_id' value=`${horticulture_produce._id}`)
                                                                input(type='hidden' name='produce_owner_name' value=`${horticulture_produce.fullname}`)
                                                                input(type='hidden' name='produce_owner_contact' value=`${horticulture_produce.contact}`)
                                                                button.add2cart-btn.btn(type='submit') Confirm
                                                        .modal-footer
                                                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                                                            button.btn.btn-primary(type='button') Save changes
                                        else
                                            a.add2cart-btn.btn(href="/categories_check") Buy 
        .veg-category-boxes.mb-5.mt-5
            h6 Other Product Category
        .container.mb-5.bxes
            .row.row-cols-1.row-cols-md-2.g-4.justify-content-center
                .col-md-4
                    .card
                        img.card-img-top(src='/img/poultry.jpg' alt='...')
                        .card-body.h-100
                            .card-body.mt-3.mb-5.text-center
                                a.add2cart-btn.btn(href='/poultry') Poultry
                .col-md-4
                    .card.h-100
                        img.card-img-top(src='/img/horticulture.jpg' alt='...')
                        .card-body
                            .card-body.mt-3.mb-5.text-center
                                a.add2cart-btn.btn(href='/dairy') Dairy