extends ../farmers_layout.pug

block main_content
    .farmers-main
        .container.mb-5 
            .row 
                .col-md-4.col-sm-12.mx-sm-auto
                    h4 Horticulture
                    if horticulture_totals_based_on_ward.length 
                        each horticulture_total_based_on_ward in horticulture_totals_based_on_ward
                            if loggedInFarmerOne.ward === horticulture_total_based_on_ward._id._id   
                                h6.ps-3 Total Quantity:  #{horticulture_total_based_on_ward.totalQuantity}
                                h6.ps-3 Total Income After Sell: #{horticulture_total_based_on_ward.total_horticulture}
                    else 
                        p Total Quantity: 0
                        p Total Income After Sell: 0
                .col-md-4.col-sm-12
                    h4 Poultry
                    if poultry_totals_based_on_ward.length >= 1 
                        each poultry_total_based_on_ward in poultry_totals_based_on_ward
                            if loggedInFarmerOne.ward == poultry_total_based_on_ward._id._id
                                if poultry_total_based_on_ward.totalQuantity    
                                    h6.ps-3 Total Quantity:  #{poultry_total_based_on_ward.totalQuantity}
                                    h6.ps-3 Total Income After Sell: #{poultry_total_based_on_ward.total_poultry}
                            else 
                                h6 Total Quantity: 0
                                h6 Total Income After Sell: 0
                .col-4.md-4.col-md-4
                    h4 Dairy
                    if diary_totals_based_on_ward.length >= 1
                        each diary_total_based_on_ward in diary_totals_based_on_ward
                            if loggedInFarmerOne.ward == diary_total_based_on_ward._id._id   
                                h6.ps-3 Total Quantity:  #{diary_total_based_on_ward.totalQuantity}
                                h6.ps-3 Total Income After Sell: #{diary_total_based_on_ward.total_diary}
                            else 
                                h6 Total Quantity: 0
                                h6 Total Income After Sell: 0
        .dashboard-tabs.urban-farmer-dashboard
            ul#myTab.nav.nav-tabs(role='tablist')
                li.nav-item(role='presentation')
                    button#home-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#home' type='button' role='tab' aria-controls='home' aria-selected='true') Urban Farmers
                li.nav-item(role='presentation')
                    button#profile-tab.nav-link(data-bs-toggle='tab' data-bs-target='#profile' type='button' role='tab' aria-controls='profile' aria-selected='false') Uploaded Produce
                li.nav-item(role='presentation')
                    button#bookings-tab.nav-link(data-bs-toggle='tab' data-bs-target='#bookings' type='button' role='tab' aria-controls='booings' aria-selected='false') Bookings and Orders
                li.nav-item(role='presentation')
                    button#contact-tab.nav-link(data-bs-toggle='tab' data-bs-target='#contact' type='button' role='tab' aria-controls='contact' aria-selected='false') Registration
            // Urban Farmers
            #myTabContent.tab-content
                #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
                    .container.mt-5
                        .row
                            // show urban farmers Details
                            if urbanfarmers
                                each urbanfarmer in urbanfarmers
                                    if urbanfarmer.ward === loggedInFarmerOne.ward
                                        .col-md-6.mt-3
                                            p(style='text-align: left;')
                                                strong Urban Farmer Name:
                                                i  #{urbanfarmer.fullname}
                                            p(style='text-align: left;')
                                                strong Urban Farmer ward:
                                                i  #{urbanfarmer.ward}
                                            p(style='text-align: left;')
                                                strong Date of Registration:
                                                i  #{urbanfarmer.dor}
                                            p(style='text-align: left;')
                                                strong Urban Farmer Phone:
                                                i  #{urbanfarmer.phone}
                                            hr
                // Uploaded Produce
                #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
                    .container.mt-5
                        .row
                            if urban_farmers_uploads.length > 0 
                                each urban_farmer_upload in urban_farmers_uploads
                                    if urban_farmer_upload.product_status === 'pending' && urban_farmer_upload.pward === loggedInFarmerOne.ward
                                        .col-md-6.mt-3
                                            .row
                                                h6(style="color: #708238") Produce
                                                .col-md-6.mt-3
                                                    p(style='text-align: left;')
                                                        strong Name:
                                                        i  #{urban_farmer_upload.pname}
                                                    p(style='text-align: left;')
                                                        strong Status:
                                                        i  #{urban_farmer_upload.product_status}
                                                    p(style='text-align: left;')
                                                        strong Category:
                                                        i  #{urban_farmer_upload.produce_type}
                                                    p(style='text-align: left;')
                                                        strong Owner:
                                                        i  #{urban_farmer_upload.fullname}
                                                .col-md-5.mt-3
                                                    h6(style="color: #3F704D") #{urban_farmer_upload.pname}
                                                    .text-center
                                                        img.img-thumbnail(src=`/${urban_farmer_upload.produce_image}` alt='...')
                                            hr
                                            .row.btnApproveDecline
                                                .col-md-6
                                                    button.btn_dec_app.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#staticBackdrop')
                                                        | Approve / Decline
                                                    #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
                                                        .modal-dialog.modal-dialog-centered
                                                            .modal-content
                                                                .modal-header
                                                                    h5#staticBackdropLabel.modal-title Approve or Decline
                                                                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                                                .modal-body
                                                                    form(action=`/farmer_one_dashboard/approve_decline/${urban_farmer_upload._id}` method="post")
                                                                        .form-check.d-inline-block.me-5.my-4
                                                                            input#approve.form-check-input(type='radio' name='approve_decline' value="approved")
                                                                            label.form-check-label(for='approve') Approve
                                                                        .form-check.d-inline-block.ms-5.my-4
                                                                            input#decline.form-check-input(type='radio' name='approve_decline' value="declined")
                                                                            label.form-check-label(for='decline') Decline
                                                                        button.btn_dec_app.btn.btn-secondary.d-block.mt-2(type='submit' style="width: 150px; padding: 1%;") Submit
                                            hr
                            else 
                                h6 No produce to approve
                // Bookings and Orders
                #bookings.tab-pane.fade(role='tabpanel' aria-labelledby='bookings-tab')
                    .container.mt-5
                        .row
                            if user_orders_for_farmerOne_ward.length
                                each user_order_for_farmerOne_ward in user_orders_for_farmerOne_ward
                                    if user_order_for_farmerOne_ward.produce_owner_ward === loggedInFarmerOne.ward
                                        .col-md-4.mb-4
                                            p(style='text-align: left')
                                                strong Order Status 
                                                i(style='color: #4CBB17; font-weight: bolder') #{user_order_for_farmerOne_ward.order_status} 
                                            p(style='text-align: left')
                                                strong Produce Ordered 
                                                i #{user_order_for_farmerOne_ward.produce_ordered}
                                            p(style='text-align: left')
                                                strong Produce Quantity 
                                                i #{user_order_for_farmerOne_ward.order_quantity}
                                            p(style='text-align: left')
                                                strong Price Per Quantity 
                                                i #{user_order_for_farmerOne_ward.unit_price}
                                            p(style='text-align: left')
                                                // To be got after aggregations
                                                strong Produce Owner 
                                                i #{user_order_for_farmerOne_ward.produce_owner_name}
                                            p(style='text-align: left')
                                                // To be got after aggregations
                                                strong Produce Owner Contact 
                                                i #{user_order_for_farmerOne_ward.produce_owner_contact}
                                            p(style='text-align: left')
                                                // To be got after aggregations
                                                strong Produce Owner Contact 
                                                i #{user_order_for_farmerOne_ward.produce_owner_email}
                                            hr
                                    else 
                                        h6 No bookings as yet
                // Registration
                #contact.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
                    .container.mt-5
                        form(action='/farmer_one_dashboard/register_urban_farmer' method='post')
                            .row
                                .col-md-4.mb-3
                                    label.form-label(for='fo_name') Urban Farmer Name:
                                    input#fo_name.form-control(type='text' name='fullname' required)
                                .col-md-2.mb-3
                                    label.form-label(for='fo_ward') Ward Name:
                                    input#fo_ward.form-control(type='text' name='ward' value=`${loggedInFarmerOne.ward}` readonly)
                                .col-md-3.mb-3
                                    label.form-label.d-block.mb-3 Gender:
                                    .form-check.d-inline-block
                                        input#gender.form-check-input(type='radio' name='gender' value='male')
                                        label.form-check-label(for='gender')
                                            | Male
                                    .form-check.d-inline-block.ms-4
                                        input#female.form-check-input(type='radio' name='gender' value='female')
                                        label.form-check-label(for='gender')
                                            | female
                                .col-md-4.mb-3
                                    label.form-label(for='date_of_birth') Date of Birth:
                                    input#date_of_birth.form-control(type='date' name='dob')
                                .col-md-2.mb-3
                                    label.form-label(for='role') Role
                                    input#role.form-control(type='text' name='role' value='urban farmer' readonly)
                                .col-md-4.mb-3
                                    label.form-label(for='nin') NIN
                                    input#nin.form-control(type='text' name='nin' required)
                                .col-md-2.mb-3
                                    label.form-label(for='phone') Phone
                                    input#phone.form-control(type='text' name='phone' required)
                                .col-md-2.mb-3
                                    label.form-label(for='loginId') Urban Farmer Login ID
                                    input#loginId.form-control(type='text' name='loginId' required)
                                .col-md-2.mb-3 
                                    label.form-label(for='password') Password
                                    input#id_to_login.form-control(type='password' name='password' required)
                            button.form_btn.mt-5(type='submit') Register